---
import Layoutv1 from '../layouts/layoutv1.astro';
const pageTitle = "About Us";
---

 <Layoutv1 title={pageTitle}>
    <h1>{pageTitle}</h1>
    <p>Updated, now with templates!</p>
    <article>
      We are a couple who enjoys exploring the creative aspects of the world, from photography and painting, to pottery and crystal shaping. 
      This site is a work in progress and will showcase original creations by us and hopefully many others! Contact information coming soon!
    </article>
 </Layoutv1>