---
import Layoutv1 from "./layoutv1.astro";
---

 <Layoutv1 title="Lore">
		<h1 slot="body">Want to learn more about our displayed creations?</h1>
		<p slot="body">This landing will have posts containing context and info for our images</p>
</Layoutv1>
