---
import Layoutv1 from "./showcaseproto/layoutv1.astro";
---

 <Layoutv1 title="Lore">
		<h1>Want to learn more about our displayed creations?</h1>
		<p>This landing will have posts containing context and info for our images</p>
<layout>
