---
import Layoutv1 from '../layouts/layoutv1.astro';
const pageTitle = "Lore";
---


 <Layoutv1 title={pageTitle}>
	<section>
		<h1>Want to learn more about our displayed creations?</h1>
		<p>This landing will have posts containing context and info for our images</p>
	</section>
	<section>
		<ul>
			<li><a href="/showcaseproto/posts/post-1">Inspiration</a></li>
			<li><a href="/showcaseproto/posts/post-2">Displaying Images</a></li>
		</ul>
	</section>
</Layoutv1>
