---
import Layoutv1 from "./showcaseproto/layoutv1.astro";
---

 <Layoutv1 title="Gallery">
		<h1>Gallery</h1>
        <p>This will display all the photos and artworks with descriptive info</p>
 <layout>
