---
import Layoutv1 from '../layouts/layoutv1.astro';
const pageTitle = "Gallery";
---


 <Layoutv1 title={pageTitle}>
		<h1>{pageTitle}</h1>
        <p>This will display all the photos and artworks with descriptive info</p>
        <section>
            <img src="/showcaseproto/bubbles.png" alt="Bubble exposure photo at Otherworld" width="800">
            <img src="/showcaseproto/sky.png" alt="Cloudy sky with trees" width="800">
            <img src="/showcaseproto/turtle.png" alt="Turtle and Lilypad" width="800">
            <img src="/showcaseproto/dallas.png" alt="Dallas at Night" width="800">
        </section>
 </Layoutv1>
