---
import Layoutv1 from '../layouts/layoutv1.astro';
---


 <Layoutv1 title="Gallery">
		<h1>Gallery</h1>
        <p>This will display all the photos and artworks with descriptive info</p>
        <section>
            <img src="../../public/Dallas.jpg" alt="Dallas Texas at night1" width="400">
            <img src="/public/Dallas.jpg" alt="Dallas Texas at night2" width="400">
            <img src="/showcaseproto/public/Dallas.jpg" alt="Dallas Texas at night3" width="400">
        </section>
 </Layoutv1>
