---
import Layoutv1 from '../layouts/layoutv1.astro';
---


 <Layoutv1 title="Gallery">
		<h1>Gallery</h1>
        <p>This will display all the photos and artworks with descriptive info</p>
        <section>
            <img src="/showcaseproto/bubbles.png" alt="Bubble exposure photo at Otherworld" width="400">
        </section>
 </Layoutv1>
