---
import Layoutv1 from "./layoutv1.astro";
---

 <Layoutv1 title="Gallery">
		<h1 slot="body">Gallery</h1>
        <p slot="body">This will display all the photos and artworks with descriptive info</p>
 <layout>
