---
import Layoutv1 from '../layouts/layoutv1.astro';
import dallas from '../../public/dallas.jpg';
import Bubbles from '../../Bubbles.jpg';
---


 <Layoutv1 title="Gallery">
		<h1>Gallery</h1>
        <p>This will display all the photos and artworks with descriptive info</p>
        <section>
            <img src={dallas} alt="Dallas Texas at night1" width="400">
            <img src={Bubbles} alt="Bubble exposure photo at Otherworld" width="400">
        </section>
 </Layoutv1>
