---
import Layoutv1 from '../layouts/layoutv1.astro';
const pageTitle = "PBnJ's Showcase";
---

 <Layoutv1 title={pageTitle}>
		<h1>{pageTitle}</h1>
        <p>Welcome to the future gallery of unique creations by Peri Berman and Jared Parker</p>
 </Layoutv1>
