---
import Layoutv1 from "./layoutv1.astro";
---

 <Layoutv1 title="PBnJShowcase">
		<h1 slot="body">PBnJ's Showcase</h1>
        <p slot="body">Welcome to the future gallery of unique creations by Peri Berman and Jared Parker</p>
 <layout>
